<nav class="navbar bg-light border">
  <div class="container-fluid d-flex">
    <%= link_to "Restaurants", restaurants_path, class: "text-dark", style: "text-decoration: none;" %>
    <%= link_to "New Restaurant", new_restaurant_path, class: "text-dark", style: "text-decoration: none;" %>
  </div>
</nav>
