<div class="container-fluid">
  <h1 class="text-center fs-2 mt-4">Restaurant List</h1>
  <hr class="w-75 mx-auto">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <% @restaurants.each do |restaurant|%>
        <%= link_to restaurant_path(restaurant), style: "text-decoration: none;" do %>
          <div class="card mb-5 shadow rounded p-3" style="background-color:rgb(255, 85, 187);">
            <h2 class="text-dark fw-bold fs-4 py-3">"<%=restaurant.name %>"</h2>
            <p class="px-3 text-end fst-italic text-dark fs-5"><%= restaurant.category.capitalize %> Food</p>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
