<div class="container-fluid">
  <h1 class="text-center fs-2">New Restaurant</h1>
  <hr class="w-75 mx-auto">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card mb-3 shadow p-3 rounded" style="background-color:rgb(255, 85, 187);">
        <%= render "form", restaurant: @restaurant %>
      </div>
    </div>
  </div>
</div>
